.tudo {
 /* height: 100%; */
}

.cabecalho {
  /* height: 100%; */
}

.corpo {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%; */
}

.sidebar {

  max-width: 250px;
  background-color: #28353B;
  /* min-width: 250px; */
  /* height: 100%; */
}

.quadro {
  width: 100%;
  height: 100vh;
}
