
<div class="container">
  <img src="assets/kanban-king-high-resolution-logo-transparent.png" alt="Kanban King" class="img-fluid pt-5 text-shadow" style="padding-bottom: 40px;">

  <p class="p-2 mb-2 text-shadow text-light">Bem vindo, {{ user.username }}.</p>

  <p class="p-2 mb-2 text-shadow text-light">Projetos:</p>

  <ul class="text-shadow">
    @for(projeto of projects; track projeto; let idx = $index) {
      @if(idx == index) {
        <li>
          <i class="iconeAtivo fa-solid fa-laptop-file"></i>
          <a (click)="setProject(idx)" class="projetoAtivo m-1">{{projeto.title}}</a>
        </li>
      }
      @else {
        <li>
          <i class="fa-solid fa-laptop-file"></i>
          <a (click)="setProject(idx)" class="text-light m-1">{{projeto.title}}</a>
        </li>
      }
    } @empty {
      <p>Nenhum projeto encontrado.</p>
    }
  </ul>

  <button type="button" class="btn btn-light w-100 " (click)="createProject()">Criar novo Projeto</button>
</div>

