
<div class="container">
  <img src="assets/kanban-king-high-resolution-logo-white-transparent.png" alt="Kanban King" class="img-fluid mb-2">

  <p class="p-2 mb-2">Bem vindo, {{ user.username }}.</p>
  <p class="p-2 mb-2">Projetos:</p>
  <ul>
    @for(projeto of projects; track projeto; let idx = $index) {
      @if(idx == index) {
        <li><a (click)="setProject(idx)" class="active">{{projeto.title}}</a></li>
      }
      @else {
        <li><a (click)="setProject(idx)">{{projeto.title}}</a></li>
      }
    } @empty {
      <p>Nenhum projeto encontrado.</p>
    }
  </ul>
</div>

