* {

  /* background-color: #102E44; */
}

img {
  border-bottom: 1px none white;
  padding: 20px;
}

ul {
  padding: 10px;
  /* margin: 0; */
  list-style-type: none;
  color: white;
}

li {
  cursor: pointer;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.projetoAtivo, .iconeAtivo {
  /* font-weight: bold; */
  color: #FE6152;
}

